In [1]:
from ipywidgets.embed import embed_minimal_html
import gmaps
# Import the dependencies.
import pandas as pd
import requests
# Import the API key.
from config import g_key
gmaps.configure(api_key=g_key)

fig = gmaps.figure()
embed_minimal_html('export.html', views=[fig])

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Thompson,CA,2021-10-09 15:54:07,55.7435,-97.8558,32.16,100,90,2.30
1,1,Qaanaaq,GL,2021-10-09 15:54:07,77.4840,-69.3632,25.32,94,100,11.39
2,2,Yellowknife,CA,2021-10-09 15:51:47,62.4560,-114.3525,42.42,100,90,1.01
3,3,Ancud,CL,2021-10-09 15:54:08,-41.8697,-73.8203,60.33,70,1,7.05
4,4,Tura,IN,2021-10-09 15:54:08,25.5198,90.2201,74.35,84,0,2.30

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
#NOTE - REMOVE A NEGATIVE NUMBER. GMAPS CAN ONLY PLOT POSITIVE NUMBERS using 'for' loop
#To remove the negative temperatures we can use a for loop to iterate through 
#the max_temp and add the temperatures that are greater than 0 °F to a new list.

# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
 #   temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#30.0,31.0 is the center of earth (lat,Lng)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)  NOTE code using the above for loop
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
dissipating=False, max_intensity=300, point_radius=4) #loop via list comprehension
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent CLOUDINESS
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent CLOUDINESS
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

#Filter the city_data_df for the min/max temps
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Tura,IN,2021-10-09 15:54:08,25.5198,90.2201,74.35,84,0,2.30
6,6,Atuona,PF,2021-10-09 15:54:09,-9.8000,-139.0333,77.72,71,14,19.06
7,7,Port-Gentil,GA,2021-10-09 15:54:09,-0.7193,8.7815,78.76,89,90,12.66
16,16,Arraial Do Cabo,BR,2021-10-09 15:53:22,-22.9661,-42.0278,71.56,64,90,12.66
18,18,Bambous Virieux,MU,2021-10-09 15:50:27,-20.3428,57.7575,73.65,73,40,14.97
21,21,Saint-Philippe,RE,2021-10-09 15:49:50,-21.3585,55.7679,72.99,83,55,14.50
26,26,Qiongshan,CN,2021-10-09 15:54:15,20.0058,110.3542,78.78,83,75,8.95
27,27,Luanda,AO,2021-10-09 15:52:00,-8.8368,13.2343,78.80,73,20,13.80
28,28,Odweyne,SO,2021-10-09 15:54:15,9.4092,45.0640,78.89,51,96,4.68
30,30,Monrovia,LR,2021-10-09 15:54:16,6.3005,-10.7969,83.97,74,89,10.02

In [11]:
preferred_cities_df.count()

City_ID       200
City          200
Country       199
Date          200
Lat           200
Lng           200
Max Temp      200
Humidity      200
Cloudiness    200
Wind Speed    200
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
4              Tura      IN     74.35  25.5198   90.2201
6            Atuona      PF     77.72  -9.8000 -139.0333
7       Port-Gentil      GA     78.76  -0.7193    8.7815
16  Arraial Do Cabo      BR     71.56 -22.9661  -42.0278
18  Bambous Virieux      MU     73.65 -20.3428   57.7575
21   Saint-Philippe      RE     72.99 -21.3585   55.7679
26        Qiongshan      CN     78.78  20.0058  110.3542
27           Luanda      AO     78.80  -8.8368   13.2343
28          Odweyne      SO     78.89   9.4092   45.0640
30         Monrovia      LR     83.97   6.3005  -10.7969

In [13]:
from config import g_key

In [14]:
#SET PARAMETERS FOR GOOGLE PLACES API TO FIND HOTELS NEAR THE LOCATION IN PREFERRED CITIES 
# Set parameters to search for a hotel.
payload = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    
}

In [15]:
#get the name of the first hotel
#NOTE THE [0] IS THE INDEX FOR THE FIRST HOTEL NAME 
#hotels["results"][0]["name"] 

# Iterate through the DataFrame.Based on above the 'for' will iterate through each hotel index 
#for each row (iterrows()) and return the lat/long
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]

    lng = row["Lng"]
   
    # Add the latitude and longitude to location key for the params dictionary.
    #created the params dictionary (key:value) above. This will add the 'location' key : lat/long values
    payload["location"] = f"{lat},{lng}"
   

    # Use the search term: "lodging" and our latitude and longitude. #Defined in param above
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=payload).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found ..... skipping")
    
hotel_df.head(100)

Hotel not found ..... skipping
Hotel not found ..... skipping
Hotel not found ..... skipping
Hotel not found ..... skipping
Hotel not found ..... skipping
Hotel not found ..... skipping
Hotel not found ..... skipping
Hotel not found ..... skipping

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Tura,IN,74.35,25.5198,90.2201,Hotel RIKMAN Continental
6,Atuona,PF,77.72,-9.8000,-139.0333,Villa Enata
7,Port-Gentil,GA,78.76,-0.7193,8.7815,Fengshui Residence
16,Arraial Do Cabo,BR,71.56,-22.9661,-42.0278,Pousada Porto Praia
18,Bambous Virieux,MU,73.65,-20.3428,57.7575,Casa Tia Villa
...,...,...,...,...,...,...
244,Edgewater,US,83.28,28.9889,-80.9023,Islander Beach Resort
249,Ishigaki,JP,82.63,24.3448,124.1572,Hotel Peace Land Ishigakijima
252,Haapiti,PF,73.13,-17.5667,-149.8667,Linareva Moorea Beach Resort
257,Wenling,CN,75.90,28.3669,121.3600,Hanting Express Wenling Wanchang North Road
259,Zafra,ES,83.88,38.4167,-6.4167,Parador de Zafra

In [16]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

#Add the google maps marker layer based on the locations variable to the data
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)

#Add the heat map layer to the fig (map)
fig.add_layer(heat_layer)

#Add the marker layer (defined above) to the fig (map)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
#NOTE: the result will be a map with pins for the locations 
fig

Figure(layout=FigureLayout(height='420px'))