In [1]:
"VACATIONPY - WEATHER INPUT. HEATMAP. MARKERS, POPUP"

'VACATIONPY - WEATHER INPUT. HEATMAP. MARKERS, POPUP'

In [2]:
from ipywidgets.embed import embed_minimal_html
import gmaps
# Import the dependencies.
import pandas as pd
import requests
# Import the API key.
from config import g_key
gmaps.configure(api_key=g_key)

fig = gmaps.figure()
embed_minimal_html('export.html', views=[fig])

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Thompson,CA,2021-10-09 15:54:07,55.7435,-97.8558,32.16,100,90,2.30
1,1,Qaanaaq,GL,2021-10-09 15:54:07,77.4840,-69.3632,25.32,94,100,11.39
2,2,Yellowknife,CA,2021-10-09 15:51:47,62.4560,-114.3525,42.42,100,90,1.01
3,3,Ancud,CL,2021-10-09 15:54:08,-41.8697,-73.8203,60.33,70,1,7.05
4,4,Tura,IN,2021-10-09 15:54:08,25.5198,90.2201,74.35,84,0,2.30

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#NOTE - REMOVE A NEGATIVE NUMBER. GMAPS CAN ONLY PLOT POSITIVE NUMBERS using 'for' loop
#To remove the negative temperatures we can use a for loop to iterate through 
#the max_temp and add the temperatures that are greater than 0 Â°F to a new list.

# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
 #   temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#30.0,31.0 is the center of earth (lat,Lng)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)  NOTE code using the above for loop
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
dissipating=False, max_intensity=300, point_radius=4) #loop via list comprehension
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent CLOUDINESS
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent CLOUDINESS
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

#Filter the city_data_df for the min/max temps
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Atuona,PF,2021-10-09 15:54:09,-9.8000,-139.0333,77.72,71,14,19.06
7,7,Port-Gentil,GA,2021-10-09 15:54:09,-0.7193,8.7815,78.76,89,90,12.66
24,24,Bhainsa,IN,2021-10-09 15:54:14,26.9548,76.9012,85.08,32,0,6.82
26,26,Qiongshan,CN,2021-10-09 15:54:15,20.0058,110.3542,78.78,83,75,8.95
27,27,Luanda,AO,2021-10-09 15:52:00,-8.8368,13.2343,78.80,73,20,13.80
28,28,Odweyne,SO,2021-10-09 15:54:15,9.4092,45.0640,78.89,51,96,4.68
30,30,Monrovia,LR,2021-10-09 15:54:16,6.3005,-10.7969,83.97,74,89,10.02
32,32,Ponta Do Sol,PT,2021-10-09 15:54:17,32.6667,-17.1000,78.71,67,23,1.59
37,37,Bud,US,2021-10-09 15:54:18,39.4470,-86.1758,78.12,71,78,7.65
38,38,Kapaa,US,2021-10-09 15:54:19,22.0752,-159.3190,75.11,73,73,5.01

In [12]:
preferred_cities_df.count()

City_ID       174
City          174
Country       174
Date          174
Lat           174
Lng           174
Max Temp      174
Humidity      174
Cloudiness    174
Wind Speed    174
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
6         Atuona      PF     77.72  -9.8000 -139.0333
7    Port-Gentil      GA     78.76  -0.7193    8.7815
24       Bhainsa      IN     85.08  26.9548   76.9012
26     Qiongshan      CN     78.78  20.0058  110.3542
27        Luanda      AO     78.80  -8.8368   13.2343
28       Odweyne      SO     78.89   9.4092   45.0640
30      Monrovia      LR     83.97   6.3005  -10.7969
32  Ponta Do Sol      PT     78.71  32.6667  -17.1000
37           Bud      US     78.12  39.4470  -86.1758
38         Kapaa      US     75.11  22.0752 -159.3190

In [14]:
from config import g_key

In [15]:
#SET PARAMETERS FOR GOOGLE PLACES API TO FIND HOTELS NEAR THE LOCATION IN PREFERRED CITIES 
# Set parameters to search for a hotel.
payload = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    
}

In [16]:
#get the name of the first hotel
#NOTE THE [0] IS THE INDEX FOR THE FIRST HOTEL NAME 
#hotels["results"][0]["name"] 

# Iterate through the DataFrame.Based on above the 'for' will iterate through each hotel index 
#for each row (iterrows()) and return the lat/long
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]

    lng = row["Lng"]
   
    # Add the latitude and longitude to location key for the params dictionary.
    #created the params dictionary (key:value) above. This will add the 'location' key : lat/long values
    payload["location"] = f"{lat},{lng}"
   

    # Use the search term: "lodging" and our latitude and longitude. #Defined in param above
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=payload).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found ..... skipping")
    
hotel_df.head(100)

Hotel not found ..... skipping
Hotel not found ..... skipping
Hotel not found ..... skipping
Hotel not found ..... skipping
Hotel not found ..... skipping
Hotel not found ..... skipping
Hotel not found ..... skipping
Hotel not found ..... skipping
Hotel not found ..... skipping
Hotel not found ..... skipping

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Atuona,PF,77.72,-9.8000,-139.0333,Villa Enata
7,Port-Gentil,GA,78.76,-0.7193,8.7815,Fengshui Residence
24,Bhainsa,IN,85.08,26.9548,76.9012,Satto pawta
26,Qiongshan,CN,78.78,20.0058,110.3542,Sun City Restaurant
27,Luanda,AO,78.80,-8.8368,13.2343,Hotel FÃ³rum
...,...,...,...,...,...,...
336,Mariel,CU,85.01,22.9875,-82.7536,
337,Tabou,CI,80.51,4.4230,-7.3528,hotÃªl doufoulougou
340,Mecca,SA,89.56,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
341,Bandarbeyla,SO,78.80,9.4942,50.8122,JABIR HOTEL
348,Punta De Piedra,VE,88.18,7.6176,-71.4916,Casa 7 Punta de Piedra

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

#Add the google maps marker layer based on the locations variable to the data
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)

#Add the heat map layer to the fig (map)
fig.add_layer(heat_layer)

#Add the marker layer (defined above) to the fig (map)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
#NOTE: the result will be a map with pins for the locations 
fig

Figure(layout=FigureLayout(height='420px'))