## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy
from ipywidgets.embed import embed_minimal_html
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

#Configure gmaps
fig = gmaps.figure()
embed_minimal_html('export.html', views=[fig])

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,4,Butaritari,KI,81.39,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
1,10,Garowe,SO,80.56,overcast clouds,8.4054,48.4845,Curubo Hotel
2,13,Georgetown,MY,78.89,few clouds,5.4112,100.3354,Cititel Penang
3,18,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
4,23,Nicoya,CR,85.55,broken clouds,10.1483,-85.4520,Las Cabinas Del Sueño

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
    <dt>City</dt>
        <dd>{City}</dd>
    <dt>Country</dt>
        <dd>{Country}</dd>
    <dt>Current Weather</dt>
        <dd>{Description} and {Max Temp}</dd>
<dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content = city_info)
# 4b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Calhoun"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Calhoun"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Jasper"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Searcy"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Hamilton"]
vacation_start

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
109,381,Calhoun,US,80.87,clear sky,42.2506,-85.0005,Quality Inn

In [28]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
start
end =  vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
end
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop1
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop2
stop3 =  vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]
stop3

(39.1834, -84.5333)

In [30]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_route = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(marker_layer)
fig.add_layer(vacation_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [69]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)

itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,381,Calhoun,US,80.87,clear sky,42.2506,-85.0005,Quality Inn
1,602,Jasper,US,84.27,scattered clouds,37.2001,-94.3502,Guest House Motel
2,479,Searcy,US,85.24,clear sky,35.2506,-91.7363,"Holiday Inn Express & Suites Searcy, an IHG Hotel"
3,477,Hamilton,US,82.49,clear sky,39.1834,-84.5333,Six Acres Bed & Breakfast
4,381,Calhoun,US,80.87,clear sky,42.2506,-85.0005,Quality Inn

In [77]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
    
    <dt>City</dt>
        <dd>{City}</dd>
    <dt>Country</dt>
        <dd>{Country}</dd>
    <dt>Current Weather</dt>
        <dd>{Description} and {Max Temp}</dd>
<dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

hotel_info
locations

       Lat      Lng
0  42.2506 -85.0005
1  37.2001 -94.3502
2  35.2506 -91.7363
3  39.1834 -84.5333
4  42.2506 -85.0005

In [79]:
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
marker_layer

Markers(data_bounds=[(33.6984945128596, -96.33335668741586), (44.75562548714041, -79.9112764923484)], markers=…

In [81]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig = gmaps.figure()
# 11b. Display the figure

fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))